/target
/classes
/checkouts
/lib
/classes
/checkouts
/out
/repl
.DS_Store
**/.DS_Store
.nrepl-port
*.js
pom.xml.asc
*.jar
*.class
.idea
.lein-*
*.iml
*.xml
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
